.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  .modal {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  min-height: 609px;
  padding: 40px;
  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include desktop {
    width: 528px;
    min-height: 581px;
  }
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $white-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* --------------------Modal---form----------------------- */
.modal__title {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: $secondary-text-color;
  @include desktop {
    line-height: 1.15;
  }
}

.form + .form {
  margin-top: 10px;
}

.checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__wrap {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input,
.form__text {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
  height: 40px;
  padding-left: 42px;
  &:focus {
    border-color: $accent-color;
  }
}

.form__text {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  &:focus {
    border-color: $accent-color;
  }
  &::placeholder {
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form__input:focus + .form__icon {
  fill: $accent-color;
}

.checkbox__text {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 12px;
  line-height: 1.17;
  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__outline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid $secondary-text-color;
  border-radius: 3px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon {
  fill: transparent;
}

.checkbox__input:checked + .checkbox__text .checkbox__outline {
  background-color: $accent-color;
  border: none;
}

.checkbox__input:checked + .checkbox__text .checkbox__icon {
  fill: $white-color;
}

.checkbox__input:focus + .checkbox__text .checkbox__outline {
  border-color: $accent-color;
}

.modal__link {
  margin-left: 4px;
  color: $accent-color;
}

.modal__btn {
  display: block;
  margin: auto;
  padding: 10px 55px;
}
